# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/*
.DS_Store

node_modules
dist
dist-ssr
git
*.local
*.env
*.env.local

# Loa-Interface
/Loa-Interface/node_modules
/Loa-Interface/dist